/* Colors */

:root {
  --color-space-cadet: #2b2d42;
  --color-cool-gray: #8d99ae;
  --color-anti-flash-white: #edf2f4;
  --color-red-pantone: #ef233c;
}

/* Dimensions */

:root {
  --dimension-max-width: 1280px;
}

/* Global styles */

body {
  margin: 0;
  background-color: var(--color-space-cadet);
}

h1 {
  margin: 0;
  font-family: "Ubuntu", sans-serif;
}
