/* Colors */

:root {
  --color-space-cadet: #2b2d42;
  --color-space-cadet-dark: #212231;
  --color-cool-gray: #8d99ae;
  --color-anti-flash-white: #edf2f4;
  --color-red-pantone: #ef233c;
  --color-red-pantone-dark: #ad1c2d;
  --color-red-pantone-light: #e88994;
}

/* Dimensions */

:root {
  --dimension-max-width: 1280px;
}

/* Global styles */

body {
  margin: 0;
  background-color: var(--color-space-cadet);
}

h1 {
  margin: 0;
  font-family: "Ubuntu", sans-serif;
}

button {
  font-family: "Ubuntu", sans-serif;
}

input {
  font-family: "Open Sans", sans-serif;
}
